.border {
    border-bottom: solid 1px $secondary-light-grey;
    text-align: center; 
}
  
  .separator {
    margin: 70px auto;
    width: 100%;
    position: relative;
}
  
  .submit-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -20px;
}