
$primary-purple: hsl(259, 100%, 65%);
$primary-light-red: hsl(0, 100%, 67%);

$secondary-white: hsl(0, 0%, 100%);
$secondary-off-white: hsl(0, 0%, 94%);
$secondary-light-grey: hsl(0, 0%, 86%);
$secondary-smokey-grey: hsl(0, 1%, 44%);
$secondary-off-black: hsl(0, 0%, 8%);